# ignore file from draw.io
*.xml


# ignore all latex waste
imgs
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.tex
*.toc

# macOS
.DS_Store

# Python

*cache*
*.pyc

*.egg-info/

.venv/
.venv-*/
venv/
venv-*/

.ipynb_checkpoints/

# Text Editors / IDEs

.vscode/

.idea/

.env
