.demo-btn-margin .btn{margin-bottom:6px}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {

}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}